.header {
  height: 68.08px;
  width: 100%;
  background-color: tomato;
}

.container {
  position: relative;
  flex-direction: column;
  display: flex;
  background-color: grey;
}

.menu {
  position: fixed;
  margin-top: calc(100vh / 2 - 68.08px - 200px);
  left: 30px;
  width: 100px;
  height: 400px;
  background-color: #5a67a6;
  z-index: 2;
}

.section {
  width: 100%;
  height: calc(100vh - 68.08px);
  background-color: #a099ff;
}

.section:nth-child(2n) {
  background-color: #a099ff;
}

.section:nth-child(2n + 1) {
  background-color: #fcb241;
}

.section__container {
  display: flex;
  height: inherit;
  margin-left: 200px;
  width: calc(100vw - 200px);
}

.section__container_img {
  width: 30%;
  height: inherit;
  background-color: red;
  border: 1px solid;
}

.section__container_content {
  width: 70%;
  display: flex;
  flex-direction: column;
  height: inherit;
  background-color: blue;
}

.section__container_content .paragraph {
  display: flex;

  flex-direction: column;
  flex: auto;
}

.section__container_content .paragraph_columns {
  display: flex;
  flex: auto;
  flex-direction: row;
  background-color: #f6efb4;
}

.section__container_content .paragraph_columns .column {
  display: flex;
  flex: auto;
  background-color: #f6efb4;
  border: 1px solid;
  padding: 20px;
}
